* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body{
  height: 100%;
}

body {
  background-image: url("images/beach.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
  margin: 0;
}

.message-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background-color: white;

  position: fixed;
  bottom: 0;
  padding: 1rem 4rem 2rem 4rem;

  .message-text {
    font-size: 1.5rem;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

    span {
      display: block;
      margin-bottom: 2rem;
    }
  }

  .input {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 0.25rem solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
  }

}